.article {
background-color: #000066;
color: white;
margin: 0px;
width: 760px;
}

.otel {
margin-left: 360px;
}

.nav {
width: 760px;
margin:0px;
height: 46px;
background-color: #000066;
color: white;
}

aside {
width: 760px;
background-color: #6495ED;
color: #000066;
}

.navmenu  {
background-color: #000066;
}
    
.section {
width: 760px;
background-color: #4444FF;
}

.border {
border: 5px solid #330066;
}


.foto1 {
margin: 45px;
margin-left: 360px;
}
    
.foto2 {
margin: 45px;
margin-left: 360px;
}
    
.foto3 {
margin: 45px;
margin-left: 360px;
}
    

.footer {
width: 760px;
background-color: #000066;
color: white;
}